<section class="card">
  <div class="card__picture" [ngStyle]="{ 'background-image': 'url(assets/'+picture+')'}"></div>
  <div class="card__songData">
    <h4 class="card__songData__album">{{album}}</h4>
    <h3 class="card__songData__title">{{title}}</h3>
    <h5 class="card__songData__author">{{author}}</h5>
    <ul class="card__songData__metadata">
      <li>
        <dl>
          <dt>Style</dt>
          <dd>{{style}}</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>Year</dt>
          <dd>{{year}}</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>Duration</dt>
          <dd>{{duration}}</dd>
        </dl>
      </li>
    </ul>
    <p class="card__songData__desc">{{description}} <a href="#">Más info</a></p>
  </div>
</section>
