div.card {
  border: 1px solid black;
  background-color: #ececec;
  padding: 0;
}

div.card div.songData {
    padding: 10px;
}

div.card div.songData span {
  display:block;
}

div.card div.songData .title {
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

div.card div.songData .author {
  font-family: Lato;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

div.card div.songData ul.metadata {
  margin: 10px 0;
  border-top: 1px solid #979797;
  padding: 10px 0 0 0;
  display: table;
  width: 100%;
}

div.card div.songData ul.metadata li {
  display: inline-block;
  margin: 5px 10px;
  display: table-cell;
}

div.card div.songData ul.metadata li span:first-child {
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

div.card div.songData ul.metadata li span:last-child {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

div.card .picture img {
  max-width: 100%;
  height: auto;
}


