<div class="card">
  <div class="picture">
    <img src="assets/{{picture}}"/>
  </div>
  <div class="songData">
    <span class="album">{{album}}</span>
    <span class="title">{{title}}</span>
    <span class="author">{{author}}</span>
    <ul class="metadata">
      <li>
        <span>Style</span>
        <span>{{style}}</span>
      </li>
      <li>
        <span>Year</span>
        <span>{{year}}</span>
      </li>
      <li>
        <span>Duration</span>
        <span>{{duration}}</span>
      </li>
    </ul>
    <p>{{description}}</p>
  </div>
</div>
