<div class="playList__songs__details" *ngIf="song">
  <section class="card">
          <div class="card__picture" [ngStyle]="{ 'background-image': 'url(assets/'+song.picture+')'}"></div>
          <div class="card__songData">
            <h4 class="card__songData__album">{{song.album}}</h4>
            <h3 class="card__songData__title">{{song.title}}</h3>
            <h5 class="card__songData__author">{{song.author}}</h5>
            <ul class="card__songData__metadata">
              <li>
                <dl>
                  <dt>Style</dt>
                  <dd><input readonly matInput value="{{song.style}}"></dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Year</dt>
                  <dd><input readonly matInput value="{{song.year}}"></dd>
                </dl>
              </li>
              <li>
                <dl>
                  <dt>Duration</dt>
                  <dd><input readonly matInput value="{{song.duration}}"></dd>
                </dl>
              </li>
            </ul>
            <textarea readonly>
             {{song.description}} 
            </textarea>
          </div>
  </section>
</div>