<div class = "searcher">
    <h1>Song</h1>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" name="filterSongs" placeholder="Search..." [(ngModel)]="filterSongs">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>Title</th>
              <th>album</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let song of songs | filter:filterSongs">
              [class.selected]="song === selectedSong"
              <td>{{search.id}}</td>
              <td>{{search.title}}</td>
              <td>{{search.album}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
